services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: hotel_db
    ports:
      - "5432:5432"

  app:
    build: 
      context: .
      dockerfile: .devcontainer/Dockerfile
    # Esto mantiene el contenedor despierto siempre
    command: sleep infinity 
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    environment:
      DATABASE_URL: "postgresql://admin:password123@db:5432/hotel_db?schema=public"

volumes:
  node_modules: